
* *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
    
    
  
   
   
  
  body {
  margin: 0 auto;
  background-color: #EEEAE4;

  }
  
  h1 {
    font-family: Roboto;
    display: inline-block;
    font-size: 2rem;
    margin-left: 5px;
    
  }
  
  #header-img {
    height: 80px;
    width: auto;
    mix-blend-mode: multiply;
    padding: 20px 10px;
    align-items: center;
    box-sizing: border-box;
    margin-top: 5px;

  
    
  }
  
  

  #header {
    display: flex;
  grid-template-columns: 50px 600px 300px;
  grid-template-rows: 80px;
  align-items: center;
  background-color: rgb(223, 218, 218) ;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  }
  
  nav {
    display: inline;
    justify-content: space-between; 
    margin: 20px;
    float: right;
    margin-left: auto;
  }
  
  .nav-link {
    font-family: Roboto;
    text-decoration: none;
    color: purple;
    
  }
  
  .nav-link:hover {
    color: green;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  
  }
  
  h2 {
    font-family: Roboto;
    margin-top: 100px;
    text-align: center;
  }
  
  input[type="email"] {
    height: 1.5rem;
    width: 10rem;
    border: 1px solid rgb(201, 199, 199);
    text-align: center;
  }
  
  input[type="submit"] {
    height: 30px;
    width: 100px;
    margin-top: 10px;
  background-color: #f7ca83;
    font-family: Boldonse;
    color: rgb(49, 49, 110);
    cursor: pointer;
  }
  
  #features-image1, #features-image2, #features-image3 {
    height: 3rem;
    width: auto;
  mix-blend-mode: multiply;
  padding-right: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  }
 

  
  #video {
    display: block;
    margin: 0 auto 50px auto;
  }
  
  #Meisterstuck, #Sailor, #Platinum  {
  border: 1px solid black;
  width: 500px;
  margin: 0px 10px 50px 1px;
  font-family: Roboto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  text-align: center;

  

    
  }
  
  #pricing {
    display: flex;
    margin: 0 auto;
    
    font-size: 12px;
  
    justify-content: center;

   
    
    
  }
  #price {
    font-weight: bold;
    font-size: 25px;
  }
  
  #name {
    font-weight: bold;
    font-size: 15px;
    background-color: #DFDAD2;
    height: 80px;
  }
  
  footer {
  background-color: rgb(223, 218, 218) ;
    height: 70px;
    display: flex;
    justify-content: flex-end; 
    
  }
  footer > a {
    margin: 10px;
    font-family: Roboto;
    text-decoration: none;
    color: purple;
  
  }
  
  a:hover {
    color: green;
  }
  
  @media screen and (min-width: 960px) {
    #header, #footer {
     
    }
  }

  .feature-line {
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    max-width: 700px;
  }

  .feature-line > p {
    display: flex-wrap;
    align-items: center;
    justify-content: center;
    

  }

  #Features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
  }

  h3 {
    margin-right: 120px;
    display: flex-wrap;
    align-items: center;
    justify-content: center;
    
   
    
  }